
<div class="slider-contenedor">
    <section class="slider">
        <div class="cont-slide">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti blanditiis delectus, sunt
                libero voluptatibus iusto facilis culpa vero nulla qui?</p>
            <img src="imagenes/testimon.jpg" alt="">
            <h4>Name1</h4>
        </div>
        <div class="cont-slide">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti blanditiis delectus, sunt
                libero voluptatibus iusto facilis culpa vero nulla qui?</p>
            <img src="imagenes/testimon.jpg" alt="">
            <h4>Name2</h4>
        </div>
        <div class="cont-slide">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti blanditiis delectus, sunt
                libero voluptatibus iusto facilis culpa vero nulla qui?</p>
            <img src="imagenes/testimon.jpg" alt="">
            <h4>Name3</h4>
        </div>
    </section>
</div>
