<section class="galeria contenedor">
    <h3>Conoce nuestro trabajo</h3>
    <p>Un vistazo a nuestro trabajo</p>
    <article class="galerias">
        <div class="galeria-img">
            <img src="imagenes/imagen1.jpg" alt="">

            <div class="extra-galeria">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In libero mollitia tempora cumque
                    maxime unde laudantium excepturi debitis nam dolorum?</p>
            </div>
        </div>
        <div class="galeria-img">
            <img src="imagenes/imagen2.jpg" alt="">

            <div class="extra-galeria">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In libero mollitia tempora cumque
                    maxime unde laudantium excepturi debitis nam dolorum?</p>
            </div>
        </div>
        <div class="galeria-img">
            <img src="imagenes/imagen3.jpg" alt="">

            <div class="extra-galeria">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In libero mollitia tempora cumque
                    maxime unde laudantium excepturi debitis nam dolorum?</p>
            </div>
        </div>
        <div class="galeria-img">
            <img src="imagenes/imagen4.jpg" alt="">

            <div class="extra-galeria">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In libero mollitia tempora cumque
                    maxime unde laudantium excepturi debitis nam dolorum?</p>
            </div>
        </div>
        <div class="galeria-img">
            <img src="imagenes/imagen5.jpg" alt="">

            <div class="extra-galeria">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In libero mollitia tempora cumque
                    maxime unde laudantium excepturi debitis nam dolorum?</p>
            </div>
        </div>
        <div class="galeria-img">
            <img src="imagenes/imagen6.jpg" alt="">

            <div class="extra-galeria">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In libero mollitia tempora cumque
                    maxime unde laudantium excepturi debitis nam dolorum?</p>
            </div>
        </div>
    </article>
</section>