<section class="servicio-cont">
    <div class="servicio">
        <div class="img-servicio">
            <img src="imagenes/ilustracion2.svg" alt="" id="ilustracion1">
        </div>
        <article class="contenido-servicio">
            <h3>Hacemos la mejor para ti</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus debitis totam molestias
                accusamus magnam consequatur ex perferendis suscipit, nobis est.</p>
            <ul>
                <li>Este va a ser uno de los servicios</li>
                <li>Este va a ser uno de los servicios</li>
                <li>Este va a ser uno de los servicios</li>
                <li>Este va a ser uno de los servicios</li>
            </ul>
        </article>
    </div>
</section>