<section class="precios">
    <h3>Tabla de precios</h3>
    <div class="precios-tablas contenedor">
        <div class="tabla">
            <h5>Basic</h5>
            <p class="price"><span>$10</span> / por mes</p>
            <ul>
                <li>Opciones</li>
                <li>Opciones</li>
                <li>Opciones</li>
            </ul>
            <a href="#">Comprar ahora</a>
        </div>
        <div class="tabla">
            <h5>Basic</h5>
            <p class="price"><span>$10</span> / por mes</p>
            <ul>
                <li>Opciones</li>
                <li>Opciones</li>
                <li>Opciones</li>
            </ul>
            <a href="#">Comprar ahora</a>
        </div>
        <div class="tabla">
            <h5>Basic</h5>
            <p class="price"><span>$10</span> / por mes</p>
            <ul>
                <li>Opciones</li>
                <li>Opciones</li>
                <li>Opciones</li>
            </ul>
            <a href="#">Comprar ahora</a>
        </div>
    </div>
</section>