/* You can add global styles to this file, and also import other style files */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border: 1px dotted #585858;
    --back: rgba(75, 0, 224, 0.698);
    --color: #000;
    --color-boton: #fff;
    --backtabla: #fff;
    --color-precio: #585858;
    --box-shadow: 0px 0px 5px rgba(0,0,0,.75);
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;

}

h3{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

h3 + p{
  color: #774c4c;
  text-align: center;
}

.contenedor{
  padding: 80px 0;
  max-width: 1000px;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.extra-clase {
  clip-path: circle(150% at 100% 100%);
}
